.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(https://thumbs.dreamstime.com/b/cool-wallpapers-backgrounds-check-out-our-68126782.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGc1fJS_pogvGt8fXdt4x43cBx5WWjRVrPpMJG6nfK&s);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(https://img.freepik.com/free-photo/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds_181624-11068.jpg?w=2000);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}